[Unit]
Description=BirdStream camera service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Documents/GitHub/BirdStream/raspberry-pi
ExecStart=/home/pi/Documents/GitHub/BirdStream/raspberry-pi/venv/bin/python /home/pi/Documents/GitHub/BirdStream/raspberry-pi/src/main.py
Restart=on-failure
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
